/* .card {
    width: 190px;
    height: 254px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
  } */

  .card {
    box-sizing: border-box;
    width: 21rem;
    height: 27rem;
    background: rgba(217, 217, 217, 0.08);
    border: .1rem solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(6px);
    border-radius: .7rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    align-items: center;
    justify-content:center;
    user-select: none;
    font-weight: bolder;
    margin: .5rem;
    padding: .2rem;
}

.card:hover {
    border: 1px solid black;
    transform: scale(1.05);
}

.image {
    margin-top: .5rem;
    margin-left: .5rem;
    margin-right: .5rem;
    border-radius: .7rem;
    border: black;
}