.loader {
  background-image: url('../../assets/pizza.gif');
  background-repeat: no-repeat;
  position: absolute;
  margin-top: 7rem;
  margin-left: 33rem;
  padding-top: 25rem;
  padding-left: 45rem;
}