.background {
    background-image: url('../../assets/Mesa.jpg');
    position: relative;
    display: grid;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.cards {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-left: 10rem;
}

.sideBar {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: 1rem;

}

.pagination {
    position: relative;
    justify-content: center;
    align-content: center;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
}
