.centrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    height: 100%;
}


.cuadrado {
    width: 20rem;
    height: 20rem;
    background-color: black;
    border-radius: 1.5rem;
}


.title {
    color: white;
    border: 3px solid yellow;
    border-radius: 1em;
    padding: 0.5rem;
}

.spanWelcome {
    color: white;
}

.main {
    width: 100%;
    height: 100vh;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100;
    background-color: rgba(0, 0, 0, .5);
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
    margin-left: 5rem;
    font-size: 1rem;
    padding: 0.8em 2em;
    background-color: #000;
    border: 3px solid yellow;
    border-radius: 1em;
    color: #fff;
    font-weight: bolder;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
    box-shadow: -5px 5px 0px 0px yellow;
    /* cursor: hand; */
}

button:hover {
    transform: translate(5px, -5px);
  }